body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

div{
    background-color: white;
    padding: 20px;
}

textarea{
    padding: 5px;
    font-size: larger;
    border-radius: 5px;
    width: 520px;
    height: 220px;
}